/* GENERAL STYLE */
* {
  font-family: 'Montserrat', sans-serif;
}
/* UTILITIES */
.textgrey {
  color: #bbcdff;
}
.textcenter {
  text-align: center;
}
.padbottom {
  padding-bottom: 60px;
}

/* FONT UTILITY */
.titleblue {
    padding-top: 40px;
    font-weight: 600;
    font-size: 35px;
    color: #031c4e;
}
.subtitlegrey {
    color: #6f7b97;
    padding-top: 20px;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 40px;
    line-height: 30px;
}
.miniblutext {
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #031c4e;
    text-align: left;
}
.minigrey {
    color: #6f7b97;
    padding-top: 10px;
    font-weight: 600;
    font-size: 13px;
    padding-bottom: 20px;
    line-height: 20px;
    text-align: left;
}

/* HEADER */
/* NAVBAR */
.navbar-default {
  background: white;
  border-color: white;
  border-radius: none;
}
.navbar-brand img {
  width: 170px;
}
.navbar-brand {
  height: auto;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}
.navbar-nav > li {
  display: inline;
  vertical-align: middle;
}
.navbar-nav > li > a {
    padding-top: 23.5px;
    padding-bottom: 23.5px;
}
.navbar-right > li:last-child > a {
  padding-top: 16.5px;
  padding-bottom: 16.5px;
}
.navbar-default .navbar-nav > li > a {
    color: #142b58;
    font-size: 15px;
    font-weight: 600;
}
.nav > li > a {
  padding-left: 7px;
  padding-right: 7px;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-toggle {
  margin-top: 18px;
  background-color: white;
}
.navbar-header .navbar-toogle:hover {
  background-color: white;
}
.navbar-default .navbar-toggle:hover {
    background-color: white;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2386fd;
}
.btn-default {
  color: #2586fd;
  border-color: #2586fd;
}
.btn-default:hover {
    color: #2586fd;
    border-color: #2586fd;
    background-color: white;
  }

  .navbar-right .btn-default:active {
      color: #2586fd;
      border-color: #2586fd;
      background-color: white;
    }


/* BIGBLUE */
.bigblue{
  background-image: url(../img/bg-banner-home.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
}
.bigblue h1 {
  color: white;
  font-size: 33px;
  font-weight: 600;
  padding-top: 80px;
}
.bigblue p {
  font-size: 20px;
  color: #bbcdff;
  font-weight: 600;
  padding-bottom: 80px;
}
.minibox {
  width: 100%;
  height: 360px;
  background: white;
  margin-top: 5px;
  border-radius: 2%;
  text-align: center;
  margin-bottom: 30px;
}
.minibox h2 {
  padding-top: 40px;
  font-weight: 600;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  color: #031c4e;
}
.minibox h3 {
  font-weight: 600;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  color: #006aff;
}
.form-group {
  max-width: 90%;
  margin: auto;
  margin-bottom: 7px;
  margin-bottom: 7px;
}
.minibox button {
  width: 90%;
  margin-bottom: 7px;
}
.minibox button:first-child {
  background-color: #579aff;
  border-color: transparent;
}
.minibox button:last-child {
  background-color: white;
  border-color: transparent;
  color: #626262;
  position: relative;
  box-shadow: 4px 4px 10px #e3e3e3;
}
.minibox button img {
  width: 16px;
  position: absolute;
  left: 7px;
}
/* LIGHTGREY */
.Backlightgrey {
  background-color: #f3f5f9;
  width: 100%;
  padding-bottom: 30px;
}
.Backlightgrey h4 {
  color: #6f7b97;
  padding-top: 40px;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 40px;
}
.Backlightgrey ul li {
  display: inline-block;
  width: calc(100% / 2 - 5px);
  padding-left: 20px;
  padding-right: 20px;
}
.Backlightgrey ul li a img {
  max-width: 100%;
}
.Backlightgrey ul {
  padding-left: 0px;
}
.Backlightgrey h6 a {
  font-size: 18px;
  font-weight: 600;
  color: #006aff;
  font-size: 14px;
}
.Backlightgrey h6 a i {
  position: relative;
  top: 2px;
}
/* BIGWHITE */
.bigwhite {
  padding-bottom: 50px;
}
.bigwhite .container ul li {
  list-style: none;
  text-align: left;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  color: #75809a;
  border-left: 2px solid #cccccc;
  padding-left: 10px;
}
.bigwhite .container ul {
  padding-left: 0px;
  padding-bottom: 30px;
}
.bigwhite .littlerow img {
  max-width: 40px;
  float: left;
}
/* LIGHTBLUONE */
.lightblue {
  background-color: #f3f5f9;
  padding-top: 40px;
  padding-bottom: 100px;
  text-align: center;
}
.lightblue img {
  max-width: 60%;
  padding: 20px;
}
.lightblue i{
  font-size: 60px;
  color: #031c4e;
  position: relative;
  top: 30px;
  display: none;
}
.lightblue h4 {
  font-weight: 600;
  font-size: 13px;
  color: #031c4e;
  padding-bottom: 50px;
}
.lightblue .fa-circle {
  font-size: 14px;
  color: #006aff;
}
/* MINIWHITE */
.miniwhite {
  padding-top: 40px;
  padding-bottom: 40px;
}
.miniwhite img {
    max-width: 40px;
    float: left;
}
.miniwhite a {
  float: left;
  color: #006aff;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 40px;
}
/* BLUEOCEAN */
.blueocean {
  background: rgb(0,30,153);
  background: linear-gradient(0deg, rgba(0,30,153,1) 0%, rgba(0,71,197,1) 100%);
  padding-top: 40px;
  padding-bottom: 100px;
}
.blueocean h2 {
  color: white;
  font-size: 30px;
  padding-bottom: 40px;
}
.blueocean .col-xs-12 .row {
  border-bottom: 1px solid white;
  padding-top: 10px;
}
.blueocean .acr {
  color: white;
  font-size: 11px;
}
.blueocean .city {
  color: #b0c0e7;
  font-size: 11px;;
  text-align: left;
  padding-left: 20px;
}
.blueocean .speed a {
  color: #00d7d2;
  font-size: 11px;
  text-align: left;
}
/* LIGHTBLUETWO */
.boxwhite {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  width: 85%;
  background-color: white;
  display: inline-block;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.boxwhite img {
  max-width: 100%;
}
.secondblue .col-xs-12 i {
  position: relative;
  top: -120px;
}
.secondblue h3 {
  margin: 0;
  padding: 0;
}
.secondblue p {
  color: #031c4e;
}
.secondblue .name {
 font-weight: 600;
 margin-bottom: 0px;
}
.secondblue a {
  color: #006aff;
  font-weight: 600;
}
/* MINIBLU */
.miniblu {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0037b0;
}
.miniblu h2 {
  color: white;
  font-weight: 600;
}
.miniblu .btn-primary {
    color: #3889ff;
    background-color: #ffffff;
    border-color: #cccccc;
}
.miniblu .btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42857143;
    margin-top: 20px;
}
/* FOOTER */
.footer {
  padding-top: 40px;
  padding-bottom: 100px;
  background-color: #031c4e;
}
.footer h4 {
  color: #8b94a9;
  font-size: 14px;
  font-weight: 600;
}
.footer h5 {
  color: #5a6887;
  font-weight: 600;
}
.footer .logoul li {
  display: inline-block;
  color: #8b94a9;
  font-size: 25px;
  padding: 5px;
}
.footer li:first-child {
  padding-left: 0px;
}
.footer ul {
  padding-left: 0px;
}
.footer h3 {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.footer .linkfooter {
  display: inline;
  list-style: none;
}
.footer .linkfooter h4 {
  line-height: 25px;
}
/* HELPER */
.help {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: #006aff;
  border-radius: 4px;
}
.help img {
  width: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.help .counter {
  width: 20px;
  height: 20px;
  background-color: red;
  text-align: center;
  position: absolute;
  right: 0px;
  transform: translate(50% , -50%);
  border-radius: 50%;
  border: 2px solid white;
  color: white;
}
.help .counter span {
  position: relative;
  bottom: 2px;
}
.texthelp {
  position: fixed;
  bottom: 40px;
  right: 100px;
  max-width: 360px;
  height: 60px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 3px;
  padding-left: 5px;
}
.texthelp .triangle {
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateX(80%);
  background-color: white;
  position: absolute;
  right: 0;
  top: 35%;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
}
.texthelp p {
  color: #142b58;
  font-weight: 600;
  font-size: 13px;
}


  /* MEDIA QUERY FROM TABLET*/
  @media screen and (min-width:768px) {
    .navbar-brand img {
      margin-right: 70px;
    }
    .minibox {
      margin-top: 65px;
    }
    .Backlightgrey ul li {
      width: calc(100% / 6 - 5px);
      padding-left: 5px;
      padding-right: 5px;
    }
    .lightblue i {
      display: inline-block;
    }
    .lightblue h4 {
      padding-bottom: 30px;
    }
    .blueocean .acr {
      font-size: 16px;
    }
    .blueocean .city {
      font-size: 16px;;
    }
    .blueocean .speed a {
      font-size: 16px;
    }
    .secondblue h3 {
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }
  /* MEDIA QUERY FROM DESKTOP */
  @media screen and (min-width:992px) {
    .bigblue h1 {
      font-size: 54px;
    }
    .lightblue h4 {
      padding-bottom: 15px;
    }

  }
  /* MEDIAQUERY FIX HAMBURGHER */
  @media screen and (min-width: 768px) and (max-width: 991px) {
      /* Mostra hamburger */
      .navbar-toggle {
          display: block;
          position: absolute;
          right: 0;
      }
      /* Nascondi contenitore menu */
      .navbar-collapse {
          display: none;
      }
  }
