/* GENERAL STYLE */
* {
  font-family: 'Montserrat', sans-serif;
}
/* UTILITIES */
.textgrey {
  color: #bbcdff;
}
.textcenter {
  text-align: center;
}

/* FONT UTILITY */
.titleblue {
    padding-top: 40px;
    font-weight: 600;
    font-size: 35px;
    color: #031c4e;
}
.subtitlegrey {
    color: #6f7b97;
    padding-top: 20px;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 40px;
    line-height: 30px;
}
.miniblutext {
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #031c4e;
    text-align: left;
}
.minigrey {
    color: #6f7b97;
    padding-top: 10px;
    font-weight: 600;
    font-size: 13px;
    padding-bottom: 20px;
    line-height: 20px;
    text-align: left;
}


/* HEADER */
/* NAVBAR */
.navbar-default {
  background: white;
  border-color: white;
  border-radius: none;
}
.navbar-brand img {
  width: 170px;
}
.navbar-brand {
  height: auto;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}
.navbar-nav > li {
  display: inline;
  vertical-align: middle;
}
.navbar-nav > li > a {
    padding-top: 23.5px;
    padding-bottom: 23.5px;
}
.navbar-right > li:last-child > a {
  padding-top: 16.5px;
  padding-bottom: 16.5px;
}
.navbar-default .navbar-nav > li > a {
    color: #142b58;
    font-size: 15px;
    font-weight: 600;
}
.nav > li > a {
  padding-left: 7px;
  padding-right: 7px;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-toggle {
  margin-top: 18px;
  background-color: white;
}
.navbar-header .navbar-toogle:hover {
  background-color: white;
}
.navbar-default .navbar-toggle:hover {
    background-color: white;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2386fd;
}
.btn-default {
  color: #2586fd;
  border-color: #2586fd;
}
.btn-default:hover {
    color: #2586fd;
    border-color: #2586fd;
    background-color: white;
  }

  .navbar-right .btn-default:active {
      color: #2586fd;
      border-color: #2586fd;
      background-color: white;
    }


/* BIGBLUE */
.bigblue{
  background-image: url(../img/bg-banner-home.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
}
.bigblue h1 {
  color: white;
  font-size: 33px;
  font-weight: 600;
  padding-top: 80px;
}
.bigblue p {
  font-size: 20px;
  color: #bbcdff;
  font-weight: 600;
  padding-bottom: 80px;
}
.minibox {
  width: 100%;
  height: 360px;
  background: white;
  margin-top: 5px;
  border-radius: 2%;
  text-align: center;
  margin-bottom: 30px;
}
.minibox h2 {
  padding-top: 40px;
  font-weight: 600;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  color: #031c4e;
}
.minibox h3 {
  font-weight: 600;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  color: #006aff;
}
.form-group {
  max-width: 90%;
  margin: auto;
  margin-bottom: 7px;
  margin-bottom: 7px;
}
.minibox button {
  width: 90%;
  margin-bottom: 7px;
}
.minibox button:first-child {
  background-color: #579aff;
  border-color: transparent;
}
.minibox button:last-child {
  background-color: white;
  border-color: transparent;
  color: #626262;
  position: relative;
  box-shadow: 4px 4px 10px #e3e3e3;
}
.minibox button img {
  width: 16px;
  position: absolute;
  left: 7px;
}
/* LIGHTGREY */
.Backlightgrey {
  background-color: #f3f5f9;
  width: 100%;
  padding-bottom: 30px;
}
.Backlightgrey h4 {
  color: #6f7b97;
  padding-top: 40px;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 40px;
}
.Backlightgrey ul li {
  display: inline-block;
  width: calc(100% / 2 - 5px);
  padding-left: 20px;
  padding-right: 20px;
}
.Backlightgrey ul li a img {
  max-width: 100%;
}
.Backlightgrey ul {
  padding-left: 0px;
}
.Backlightgrey h6 a {
  font-size: 18px;
  font-weight: 600;
}
.Backlightgrey h6 a i {
  position: relative;
  top: 2px;
}
/* BIGWHITE */
.bigwhite {
  padding-bottom: 50px;
}
.bigwhite .container ul li {
  list-style: none;
  text-align: left;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  color: #75809a;
  border-left: 2px solid #cccccc;
  padding-left: 10px;
}
.bigwhite .container ul {
  padding-left: 0px;
  padding-bottom: 30px;
}
.bigwhite .littlerow img {
  max-width: 40px;
  float: left;
}




  /* MEDIA QUERY FROM TABLET*/
  @media screen and (min-width:768px) {
    .navbar-brand img {
      margin-right: 70px;
    }
    .minibox {
      margin-top: 65px;
    }
    .Backlightgrey ul li {
      width: calc(100% / 6 - 5px);
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  /* MEDIA QUERY FROM DESKTOP */
  @media screen and (min-width:992px) {
    .bigblue h1 {
      font-size: 54px;
    }

  }
  /* MEDIAQUERY FIX HAMBURGHER */
  @media screen and (min-width: 768px) and (max-width: 991px) {
      /* Mostra hamburger */
      .navbar-toggle {
          display: block;
          position: absolute;
          right: 0;
      }
      /* Nascondi contenitore menu */
      .navbar-collapse {
          display: none;
      }
  }
